= page_header 'Change Password'

= form_for @user, :url => change_password_user_path(@user) do |f|
  = error_messages_for(@user)
  %p
    = f.label :current_password
    = f.password_field :current_password
  %p
    = f.label :password, "New password"
    = f.password_field :password
  %p
    = f.label :password_confirmation, "New password confirmation"
    = f.password_field :password_confirmation
  %p
    = f.submit "Update Password"

= link_to "Back", user_path(@user)